<article>
        <section>
                <div class="jumbotron p-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <label class="text-primary">
                                    ASPIRANTE
                                </label>
                                <h2>
                                    Perfil de Aspirante
                                </h2>
                                <div class="decal-center"></div>
                                <p class="my-5">
                                    Con base en la normatividad institucional, el aspirante aplicará el examen de ingreso
                                    vigente de
                                    conocimientos y habilidades para lograr los objetivos del plan de estudios.
            
                                </p>
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-lg-4 col-md-12 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span>Conocimientos</span> <br> deseables del aspirante
                                        </p>
                                        <button class="btn btn-outline-primary m-2">Ver mas...</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span>Habilidades</span> <br> deseables del aspirante
                                        </p>
                                        <button class="btn btn-outline-primary m-2">Ver mas...</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12 mt-3">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">
                                            <span>Actitudes</span> <br> y Valores deseables del aspirante
                                        </p>
                                        <button class="btn btn-outline-primary m-2">Ver mas...</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-12 mt-5">
                                <p>
                                    El aspirante deberá cumplir con los requisitos de admisión señalados en el reglamento
                                    vigente y por
                                    el proceso de selección aprobado por el H. Consejo Universitario. Además de lo estipulado
                                    anteriormente.
            
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</article>