<section>
  <div class="container py-5">
    <app-title-head></app-title-head>
    <p class="mb-4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia sit est
      fugiat, repudiandae sapiente, debitis facere minima beatae quae
      consectetur sed? Reprehenderit, ducimus laboriosam itaque autem
      exercitationem delectus vel a.
    </p>
    <i class="bi-facebook"></i>
    <i class="bi-twitter"></i>
    <i class="bi-instagram"></i>
    <i class="bi-linkedin"></i>
    <i class="bi-youtube"></i>
  </div>
</section>
