<nav class="navbar-modal" id="side-nav-modal">
  <div class="menu-wrapper">
    <ul class="navbar-menu">
      <li class="menu-item main-item">
        <i class="material-icons mr-4">apps</i>
        <span>Menu</span>
      </li>

      <div class="menu-slider">
        <div class="navbar-drop">
          <li
            class="menu-item"
            (click)="openSubMenu(navbar.quickLinks)"
            [ngClass]="{ activated: !navbar.quickLinks.collapsed }"
          >
            <span>{{ navbar.quickLinks.title }}</span>
            <i class="material-icons">keyboard_arrow_down</i>
          </li>
          <ul
            class="sub-menu"
            [ngClass]="{ activated: !navbar.quickLinks.collapsed }"
          >
            <li class="sub-item" *ngFor="let item of navbar.quickLinks.pages">
              <i class="material-icons mr-2">launch</i>
              <a [href]="item.path">
                {{ item.title | titlecase }}
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar-drop" *ngFor="let page of navbar.pages">
          <li
            class="menu-item"
            (click)="openSubMenu(page)"
            [ngClass]="{ activated: !page.collapsed && page.title == '' }"
          >
            <span>{{ page.title }}</span>
            <i class="material-icons">keyboard_arrow_down</i>
          </li>
          <ul class="sub-menu" [ngClass]="{ activated: !page.collapsed }">
            <li class="sub-item" *ngFor="let subItem of page.pages">
              <i class="material-icons mr-2">{{
                subItem.notExternal ? "sort" : "launch"
              }}</i>
              <a
                *ngIf="subItem.notExternal"
                class="dropdown-item"
                [routerLink]="subItem.path"
              >
                {{ subItem.title }}
              </a>
              <a
                *ngIf="!subItem.notExternal"
                class="dropdown-item"
                [href]="subItem.path"
                target="_blank"
              >
                {{ subItem.title }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </ul>
  </div>
</nav>
<nav class="navbar-area" (click)="deactivateSideNav()"></nav>
