<nav class="navbar-modal" id="side-nav-modal">
  <div class="menu-wrapper">
    <ul class="navbar-menu">
      <li class="menu-item main-item">
        <i class="material-icons mr-4">apps</i>
        <span>Menu</span>
      </li>

      <div class="menu-slider">
        <div class="navbar-drop">
          <li
            class="menu-item"
            (click)="openSubMenu('quick')"
            [ngClass]="{ activated: isQuickActive }"
          >
            <span>{{ navbar.quickLinks.title }}</span>
            <i class="material-icons">keyboard_arrow_down</i>
          </li>
          <ul class="sub-menu" [ngClass]="{ activated: isQuickActive }">
            <li class="sub-item" *ngFor="let item of navbar.quickLinks.pages">
              <i class="material-icons mr-2">sort</i>
              <a [href]="item.path">
                {{ item.title | titlecase }}
              </a>
            </li>
          </ul>
        </div>

        <div class="navbar-drop" *ngFor="let item of navbar.pages">
          <li
            class="menu-item"
            (click)="openSubMenu('university')"
            [ngClass]="{ activated: isUniversityActive && item.title == '' }"
          >
            <span>{{ item.title }}</span>
            <i class="material-icons">keyboard_arrow_down</i>
          </li>
          <ul class="sub-menu" [ngClass]="{ activated: isUniversityActive }">
            <li class="sub-item" *ngFor="let subItem of item.pages">
              <i class="material-icons mr-2">sort</i>
              <a [href]="subItem.path">
                {{ subItem.title | titlecase }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </ul>
  </div>
</nav>
<nav class="navbar-area" (click)="deactivateSideNav()"></nav>
