.navbar-area {
  z-index: 1100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.navbar-modal {
  position: fixed;
  z-index: 1400;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 20px 1px #00000027;
  background: white;

  max-width: 300px;
  width: 100vw;
  height: 100vh;
  transform: translateX(-300px);
  overflow: hidden;

  .menu-wrapper {
    height: 100vh;
    overflow: hidden;

    .navbar-menu {
      max-width: 300px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style-type: none;

      .main-item {
        background: white;
        height: 75px;
        padding: 10px 30px;
        justify-content: flex-start;
        align-items: center;
        display: flex;
      }

      .menu-slider {
        height: calc(100vh - 75px);
        overflow-y: auto;
        overflow-x: hidden;

        .sub-menu.activated .sub-item,
        .menu-item {
          padding: 10px 0 10px 30px;
          height: 45px;
          max-width: 300px;
          cursor: pointer !important;
        }

        .sub-menu {
          visibility: hidden;
          max-height: 0px;
          padding: 0;
          margin: 0;
          transition: max-height 0.5s ease-in-out;
          background: #ececec;

          &.activated {
            visibility: visible;
            max-height: 900px;
            .sub-item {
              display: flex;
              align-items: center;
              justify-content: flex-start;
            }
          }

          .sub-item {
            display: none;
            a,
            i {
              color: black;
              transition: padding 0.3s ease-in-out;
              display: block;
              text-decoration: none;
            }
          }

          .sub-item:hover {
            background: #1086ff;
            a,
            i {
              color: white;
            }
            i {
              padding-left: 10px;
            }
          }
        }

        .menu-item {
          background: #fff;
          transition: padding 0.3s ease-in-out;

          display: grid;
          grid-template-columns: auto 50px;

          i {
            margin-left: 10px;
          }

          &:hover {
            padding-left: 50px;
            background: #ececec;
          }
        }
      }
    }
  }
}

.navbar-modal.activated {
  transform: translateX(0px);
}
