.card {
  border: none;
  overflow: hidden;
  border-radius: 5px;

  .card-body {
    text-align: center;
    span {
      font-size: 2em;
      font-weight: bold;
    }

    background: #142130;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
