.navbar-area {
  z-index: 1100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.navbar-modal {
  position: fixed;
  z-index: 1200;
  transition: 0.3s ease-in-out;

  max-width: 300px;
  width: 100vw;
  height: 100vh !important;
  overflow: hidden;
  transform: translateX(-300px);

  .menu-wrapper {
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100vw;
    max-width: 300px;

    background: #ffffff33;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    .navbar-menu {
      max-width: 300px;
      width: 100vh;
      margin: 0;
      padding: 0;
      list-style-type: none;

      .sub-menu.activated {
        visibility: visible;
        max-height: 900px;
      }

      .sub-menu {
        visibility: hidden;
        max-height: 0px;
        padding: 0;
        margin: 0;
        transition: max-height 0.5s ease-in-out;
        a {
          text-decoration: none !important;
        }
        i {
          transition: padding 0.3s ease-in-out;
          padding: 0;
        }
        .sub-item:hover {
          background: #23374D;
          a{
            color: white;
          }
          i {
            color: white;
            padding-left: 10px;
          }
        }
      }

      .sub-item,
      .menu-item {
        padding: 10px 30px;
        height: 45px;
        max-width: 300px;
        width: 100vw;

        cursor: pointer !important;

        display: flex;
        align-items: center;

        background: #b6b6b68c;
        a {
          color: #212529;
        }
      }

      .menu-item {
        background: #ffffff8c;

        transition: padding 0.3s ease-in-out;

        i {
          margin-left: 10px;
        }

        &:hover {
          padding-left: 50px;
          background: #ffffff5b;
        }

        &:nth-child(2),
        &:nth-child(3) {
          a {
            color: white;
          }
          background: #1086ff;

          &:hover {
            background: #23374d;
          }
        }
      }
    }
  }
}

.navbar-modal.activated {
  transform: translateX(0px);
}
