<nav class="navbar-modal" id="side-nav-modal">
    <div class="menu-wrapper">
        <ul class="navbar-menu">
            <li class="menu-item">
                <span>Menu</span>
            </li>
            <li class="menu-item">
                <span>Accesos Rapidos</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Universidad</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Admisiones</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Oferta Educativa</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Investigación</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Egresados</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Internacional</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Comunicación</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item store">
                <span>Tienda</span>
                <i class="material-icons">local_mall</i>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar-area" (click)="deactivateSideNav()">
</nav>