<nav class="navbar-modal" id="side-nav-modal">
    <div class="menu-wrapper">
        <ul class="navbar-menu">
            <li class="menu-item">
                <i class="material-icons mr-4">apps</i>
                <span>Menu</span>
            </li>
            <li class="menu-item">
                <a href="https://aulavirtual.uaa.mx/login/index.php">Aula Virtual</a>
            </li>
            <li class="menu-item">
                <a href="https://aulavirtual.uaa.mx/login/index.php">ESIIMA</a>
            </li>
            <div class="navbar-drop">
                <li class="menu-item" (click)="openSubMenu('quick')" [ngClass]="{'activated': isQuickActive}">
                    <span>Menu Rápido</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </li>
                <ul class="sub-menu" [ngClass]="{'activated': isQuickActive}">
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Eventos y Convocatorias</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Radio y TV</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://museonacionaldelamuerte.uaa.mx/">Museo</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="http://biblioteca.uaa.mx/index.php/biblioteca-digital">Biblioteca Digital</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/calendarios/">Calendarios</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/directorio/">Directorio</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://correoweb.uaa.mx/">Correo Institucional</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-drop">
                <li class="menu-item" (click)="openSubMenu('university')" [ngClass]="{'activated': isUniversityActive}">
                    <span>Universidad</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </li>
                <ul class="sub-menu" [ngClass]="{'activated': isUniversityActive}">
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Institución</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Rectoría</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://museonacionaldelamuerte.uaa.mx/">Secretaría General</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="http://biblioteca.uaa.mx/index.php/biblioteca-digital">Direcciones Generales</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/calendarios/">Centros Académicos</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/directorio/">Plan de Desarrollo</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://correoweb.uaa.mx/">Consejo Universitario</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Correo Universitario</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Legislación Universitaria</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Modelo Educativo Institucional</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Asociaciones</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-drop">
                <li class="menu-item" (click)="openSubMenu('admissions')" [ngClass]="{'activated': isAdmissionsActive}">
                    <span>Admisiones</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </li>
                <ul class="sub-menu" [ngClass]="{'activated': isAdmissionsActive}">
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Convocatoria</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Nuevo ingreso</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Revalidación</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Resultados de admisión</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Apoyos y Becas</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Licenciaturas</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Orientación Educativa</a>
                    </li>

                </ul>
            </div>
            <div class="navbar-drop">
                <li class="menu-item" (click)="openSubMenu('academics')" [ngClass]="{'activated': isAcademicsActive}">
                    <span>Oferta Educativa</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </li>
                <ul class="sub-menu" [ngClass]="{'activated': isAcademicsActive}">
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Licenciaturas</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Bachillerato</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Posgrados</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Diplomados</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Cursos de Extensión Académica</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Cursos en Línea</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/"> Cursos de Idiomas</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Extensión, Educación Continua y a
                            Distancia</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Descubre tu carrera</a>
                    </li>

                </ul>
            </div>
            <div class="navbar-drop">
                <li class="menu-item" (click)="openSubMenu('research')" [ngClass]="{'activated': isResearchActive}">
                    <span>Investigación</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </li>
                <ul class="sub-menu" [ngClass]="{'activated': isResearchActive}">
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Sistemas de Proyectos de Investigacion</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Normatividad</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Eventos científicos</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Investigación Científica</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Contacto</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-drop">
                <li class="menu-item" (click)="openSubMenu('graduates')" [ngClass]="{'activated': isGraduatesActive}">
                    <span>Egresados</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </li>
                <ul class="sub-menu" [ngClass]="{'activated': isGraduatesActive}">
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Egreso</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Bolsa de trabajo</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Programa para emprendedores</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Trámites a Distancia</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">Duplicado Título Profesional</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-drop">
                <li class="menu-item" (click)="openSubMenu('international')"
                    [ngClass]="{'activated': isInternationalActive}">
                    <span>Internacional</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </li>
                <ul class="sub-menu" [ngClass]="{'activated': isInternationalActive}">
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Costo de Vida</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Apartamentos</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Nuevo Ingreso</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Apoyos y Becas</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Licenciaturas</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-drop">
                <li class="menu-item" (click)="openSubMenu('media')"
                    [ngClass]="{'activated': isMediaActive}">
                    <span>Comunicación</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </li>
                <ul class="sub-menu" [ngClass]="{'activated': isMediaActive}">
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Noticias</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Eventos y convocatorias</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Convocatorias Externas</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Editorial</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Publicaciones</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Revistas UAA</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Gaceta Universitaria</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Social Media</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Radio y TV</a>
                    </li>
                    <li class="sub-item">
                        <i class="material-icons mr-2">sort</i>
                        <a href="https://www.uaa.mx/portal/eventos/">Editorial del Rector</a>
                    </li>
                </ul>
            </div>
            
        </ul>
    </div>
</nav>
<nav class="navbar-area" (click)="deactivateSideNav()">
</nav>