header {
  height: 500px;
  padding: 200px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#005b9434, #005b94e8),
    url(/assets/header.jpg);
  background-attachment: fixed;

  h1 {
    color: white;
    font-size: 3vw;
    font-weight: 100;
    span {
      font-weight: 500;
      font-size: 3em;
    }
  }

}
