section {
  .jumbotron {
    margin: 0;
    padding-bottom: 40px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quote-icon {
      position: absolute;
      height: 70px;
      width: 70px;

      font-size: 70px;
      line-height: 70px;

      top: calc(50% - 35px);
      left: calc(50% - 35px);

      color: #ebecee;
    }
    .mirror {
      transform: scale(-1.5, 1.5);
    }
    .quote {
      text-align: center;
      span {
        position: relative;

        line-height: 1em;
        font-size: 1.3em;
        font-weight: 500;
      }
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 1.3em;

      span:last-child {
        margin-top: 10px;
        font-weight: normal;
      }
    }
  }
}
