section {
  background: #142130;

  .jumbotron {
    margin: 0;
    padding-bottom: 40px;
    position: relative;
    background: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quote-icon {
      position: absolute;
      height: 70px;
      width: 70px;

      font-size: 70px;
      line-height: 70px;

      top: calc(50% - 35px);
      left: calc(50% - 35px);

      color: #1c3149;
    }
    .mirror {
      transform: scale(-1.5, 1.5);
    }
    .quote {
      color: white;
      text-align: center;
      span {
        font-style: italic;
        position: relative;

        font-weight: 500;
        line-height: 1.9em;
        font-size: 1.3em;
      }
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 1.3em;

      color: white;

      span:last-child {
        font-weight: normal;
        margin-top: 10px;
      }
    }
  }
}
