<section>
  <div class="container py-5">
    <div class="jumbotron">
      <i class="material-icons mirror quote-icon">format_quote</i>
      <blockquote class="quote">
        <span class="italic">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At impedit,
          eaque labore mollitia quis voluptatibus, fuga esse non a reiciendis
          iste velit quam. Aliquam suscipit asperiores assumenda sunt delectus
          nostrum!
        </span>
      </blockquote>
      <label class="mt-3">
        <span> Some title </span>
        <span> Some name </span>
      </label>
    </div>
  </div>
</section>
