.wrapper {
  img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    border-radius: 3px;
  }
  h2 {
    color: #1086ff;
    margin-top: 0;
    line-height: 20px;
    font-size: 20px;
  }
}
