<section>
  <div
    class="container"
    [ngClass]="{
      'pt-3': data?.titleHead == undefined,
      'pt-5': data?.titleHead != undefined
    }"
  >
    <div class="text-center">
      <app-title-head
        *ngIf="data?.titleHead != undefined"
        [title]="data?.titleHead.title"
        [label]="data?.titleHead.label"
        [position]="'center'"
      ></app-title-head>
      <p class="mt-3 mb-5" [innerHTML]="data?.text"></p>
    </div>
    <app-timeline-item
      *ngFor="let item of data?.list"
      [image]="item.image"
      [title]="item.title"
      [list]="item.list"
    >
    </app-timeline-item>
  </div>
</section>
