.row {
  position: relative;
  overflow: hidden;

  .dashes {
    top: 50px;
    position: absolute;
    right: calc(50% + 15px);
    overflow: hidden;
    width: 1px;
    height: calc(100%);

    &::before {
      position: absolute;
      border: dashed 3px #1088ff33;
      height: calc(100% + 30px);

      box-sizing: border-box;
      content: "";
    }
  }

  h3 {
    text-align: right;
    margin-right: 20px;
    line-height: 20px;
    color: #1086ff;

    font-weight: 500;
    &::before {
      position: absolute;
      content: "";
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #1086ff;
      right: 10px;
      top: 5px;
    }
  }

  li {
    padding: 10px;
  }
}
