<article>
        <section>
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <label class="text-light">
                                Egreso
                            </label>
                            <h2>
                                Campo de Trabajo
                            </h2>
                            <div class="decal"></div>
                            <p class="mt-5">
                                    El egresado de Ingeniería Robótica será un profesionista que se desarrollará en organizaciones del
                                    sector industrial, empresas de servicios, institutos de investigación y desarrollo; esto tanto en el
                                    sector público como privado, puede colaborar con profesionales afines en equipos multidisciplinarios,
                                    incorporarse en empresas ya establecidas o bien de manera independiente, esto a nivel regional,
                                    nacional e internacional. 
                            </p>
                            <button class="btn btn-outline-light waves-effect waves-circle waves-light"> Descubre tus opciones</button>
                        </div>
                    </div>
                </div>
            </section>
</article>