.container {
  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      height: 90px;
    }

    h5 {
      font-size: 1.3em;
      margin: 0;
      margin-left: 10px;
      color: white;
    }
  }

  .info {
    color: #b0b0b0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    p {
      width: 100%;
    }
  }
}
