<article>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <app-title-head></app-title-head>
          <p class="mt-5 mr-3">
            Formar Ingenieros en Robótica líderes en su campo profesional con
            capacidad para diseñar, desarrollar, innovar, implementar y
            optimizar procesos, productos y servicios en el área de la robótica
            que contribuyan en la solución de necesidades específicas en los
            ámbitos de diseño y desarrollo de robots, sistemas de
            automatización, manufactura e integración de tecnologías, evaluación
            y desarrollo de proyectos en ingeniería con calidad y respeto al
            medio ambiente en un marco ético y humanista.
          </p>
          <button class="btn btn-outline-primary" type="button">
            <span>Explorar Oferta</span>
            <i class="material-icons">chevron_right</i>
          </button>
        </div>
        <div class="col-lg-6 col-md-12 image">
          <app-image></app-image>
        </div>
      </div>
    </div>
  </section>
</article>
