article {
  position: relative;
  &::before {
    content: "";
    top: -50px;
    position: absolute;
    display: block;
    background: url(/assets/tab.svg) center / 200px no-repeat;
    height: 70px;
    width: 100%;
  }
  section {
    padding: 80px 0;

    p {
      line-height: 2em;
      font-size: 1.1em;
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
    }
  }
}
