<ngb-carousel>
  <ng-template ngbSlide>
    <div class="img-wrapper">
      <div class="gradient"></div>
    </div>
    <div class="carousel-caption container">
      <div class="wrapper">
        <h3>First slide label</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae
          et odio aut, nulla non similique accusamus provident fugiat amet
          dignissimos dolorum? Labore corrupti quod, autem architecto modi
          dolores inventore culpa?
        </p>
        <button class="btn btn-light" type="button">Text</button>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
