<ngb-carousel [interval]="3000" class="carousel">
  <ng-template ngbSlide *ngFor="let image of data?.list">
    <div #background class="gradient"></div>
    <div class="carousel-body">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="wrapper">
              <h3>
                {{ image?.caption.title }}
              </h3>
              <p [innerHTML]="image?.caption.text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
