<ngb-carousel>
  <ng-template ngbSlide>
    <div class="img-wrapper">
      <div class="gradient"></div>
    </div>
    <div class="carousel-caption">
      <div class="container">
        <div class="row">
          <div class="wrapper col-lg-6 col-md-12">
            <h3>First slide label</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Repudiandae et odio aut, nulla non similique accusamus provident
              fugiat amet dignissimos dolorum? Labore corrupti quod, autem
              architecto modi dolores inventore culpa?
            </p>
            <button class="btn btn-light" type="button">Text</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
