<section>
  <div class="container py-5">
    <div class="jumbotron">
      <div class="row">
        <div class="left col-md-6 col-sm-12 p-5 order-md-1 order-2">
          <app-title-head></app-title-head>
          <p class="mt-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab et ad
            tempore expedita doloribus, amet asperiores optio corporis
            consectetur fugit.
          </p>
          <button class="btn btn-outline-primary" type="button">
            <span>Explorar Oferta</span>
            <i class="material-icons">chevron_right</i>
          </button>
        </div>
        <div class="right col-md-6 col-sm-12 order-md-2 order-1">
          <img class="mask d-none d-md-block" src="/assets/mask.svg" alt="" />
          <img class="image" src="/assets/header.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
