<section>
  <div class="container py-5">
    <div class="jumbotron">
      <div class="left">
        <app-title-head></app-title-head>
        <p class="mt-5">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab et ad
          tempore expedita doloribus, amet asperiores optio corporis consectetur
          fugit, iusto suscipit molestias omnis beatae inventore. Amet quam
          quibusdam consectetur.
        </p>
        <button class="btn btn-outline-primary" type="button">
          <span>Explorar Oferta</span>
          <i class="material-icons">chevron_right</i>
        </button>
      </div>
      <div class="right">
        <img class="mask" src="/assets/mask.svg" alt="" />
        <img src="/assets/header.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
