<div class="mobile-nav d-sm-none bg-primary">
  <button class="btn btn-default search menu-item">
    <i class="material-icons text-white"> search </i>
  </button>
  <div class="brand" [routerLink]="['/']">
    <img src="/assets/brand.svg" alt="" />
  </div>
  <button
    class="btn btn-default menu menu-item d-xl-none d-flex"
    (click)="activateSideNav()"
  >
    <i class="material-icons text-white" [ngClass]="{ rotate: isSideNav }">
      menu
    </i>
  </button>
</div>

<div class="d-sm-block d-none">
  <nav class="navbar">
    <div class="brand" [routerLink]="['/']">
      <app-brand></app-brand>
    </div>
    <div class="wrapper">
      <div class="d-xl-block d-none">
        <app-quick-navbar></app-quick-navbar>
      </div>
      <div class="navbar-drops">
        <div class="spacer d-xl-none d-block"></div>
        <div class="left d-xl-flex d-none">
          <li class="menu-item dropdown" *ngFor="let page of pages">
            <div ngbDropdown class="d-inline-block">
              <a class="btn btn-default" ngbDropdownToggle>
                <span>{{ page?.titleHead.title }}</span>
                <i class="material-icons">keyboard_arrow_down</i>
              </a>
              <div ngbDropdownMenu class="dropdown-menu">
                <div class="container py-5">
                  <div class="row w-100">
                    <div class="col-4 image">
                      <app-image
                        [image]="page.image.path"
                        [alternativeText]="page.image.alt"
                        [caption]="page.image.caption"
                      ></app-image>
                    </div>
                    <div class="col-8 info pl-3">
                      <app-title-head
                        [label]="page?.titleHead.label"
                        [title]="page?.titleHead.title"
                      ></app-title-head>
                      <div class="row mt-5">
                        <div
                          class="col-6"
                          *ngFor="let chunk of getChunk(page.pages)"
                        >
                          <div *ngFor="let item of chunk">
                            <a
                              *ngIf="item.notExternal"
                              class="dropdown-item"
                              [routerLink]="item.path"
                            >
                              {{ item?.titleHead.title }}
                            </a>
                            <a
                              *ngIf="!item.notExternal"
                              class="dropdown-item"
                              [href]="item.path"
                              target="_blank"
                            >
                              {{ item?.titleHead.title }}
                              <i class="material-icons">launch</i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="menu-item store">
            <a href="">
              <span>Tienda</span>
              <i class="material-icons">local_mall</i>
            </a>
          </li>
        </div>
        <div class="right">
          <button class="btn btn-default search menu-item">
            <i class="material-icons"> search </i>
          </button>
          <button
            class="btn btn-default menu menu-item d-xl-none d-flex"
            (click)="activateSideNav()"
          >
            <i class="material-icons" [ngClass]="{ rotate: isSideNav }">
              menu
            </i>
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
