<div class="wrapper row pl-3">
  <div class="left col-lg-6 col-md-12 d-none d-md-block">
    <div class="image" *ngIf="image != undefined">
      <app-image
        [image]="image?.path"
        [caption]="image?.caption"
        [alternativeText]="image?.alternativeText"
      ></app-image>
    </div>
  </div>
  <div class="right col-lg-6 col-md-12">
    <div class="dashes"></div>
    <h3>{{ title }}</h3>
    <ul class="p-0">
      <li [innerHTML]="item" *ngFor="let item of list"></li>
    </ul>
  </div>
</div>
