<div class="wrapper">
  <div class="left">
    <div class="dashes"></div>
    <h3>1992</h3>
    <ul>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolorem.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolorem.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolorem.
      </li>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, dolorem.
      </li>
    </ul>
  </div>
  <div class="right">
    <app-image></app-image>
  </div>
</div>
