.bar {
  position: fixed;
  z-index: 2;
  top: 0;
  background: var(--main-active);
  overflow: visible;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3px;
  width: 100%;
  &.loading {
    .loading-bar {
      animation: load 1s normal infinite;
    }
  }

  .loading-bar {
    border-radius: 100px;
    background: var(--primary);
    height: 3px;
    width: 0;
  }
}

.app {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #0f1c2b;

  .view {
    height: 100%;
    width: 100%;
    transition: transform 0.3s;
    background: white;

    &.small {
      transform: scale(0.9);
      border-radius: 20px;
      overflow: hidden;
      opacity: 0.85;
    }
  }
}

.mobile-nav {
  top: 0;
  position: relative;
}

@keyframes load {
  0% {
    width: 0;
    background: var(--main-active);
    box-shadow: 0 0 40px 0 var(--main-active);
  }
  40% {
    background: var(--success);
    box-shadow: 0 0 40px 0 var(--success);
  }
  60% {
    background: var(--primary);
    box-shadow: 0 0 40px 0 var(--primary);
  }
  100% {
    width: 100%;
    background: var(--main-active);
  }
}

@media (max-width: 575.98px) {
  .mobile-nav {
    top: 0;
    position: relative;
    z-index: 1;
  }

  .mobile-mask {
    background: #fff;
    position: relative;
    top: 75px;
    z-index: 2;
    height: calc(100% - 75px);
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 20px 20px 0 0;
  }
}
