<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-12 text-center">
        <app-title-head
          [position]="'center'"
          [title]="data?.title"
          [label]="data?.subtitle"
        ></app-title-head>
        <p class="my-5" [innerHTML]="data?.text"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 mt-3" *ngFor="let page of data?.pages">
        <app-card
          [title]="page.title"
          [subtitle]="page.subtitle"
          [path]="page.path"
        ></app-card>
      </div>
    </div>
  </div>
</section>
