<section>
  <div class="jumbotron p-5">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <app-title-head [position]="'center'"></app-title-head>
          <p class="my-5">
            Con base en la normatividad institucional, el aspirante aplicará el
            examen de ingreso vigente de conocimientos y habilidades para lograr
            los objetivos del plan de estudios.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12 mt-3">
          <app-card></app-card>
        </div>
      </div>
    </div>
  </div>
</section>
