<article>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <label class="text-primary">
                        OBJETIVO
                    </label>
                    <h2>
                        Nuestro Compromiso
                    </h2>
                    <div class="decal"></div>
                    <p class="mt-5">
                        Formar Ingenieros en Robótica líderes en su campo profesional con capacidad para diseñar,
                        desarrollar, innovar, implementar y optimizar procesos, productos y servicios en el área de la
                        robótica
                        que contribuyan en la solución de necesidades específicas en los ámbitos de diseño y desarrollo
                        de
                        robots, sistemas de automatización, manufactura e integración de tecnologías, evaluación y
                        desarrollo de proyectos en ingeniería con calidad y respeto al medio ambiente en un marco ético
                        y
                        humanista.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12">
                    <img src="/assets/header.jpg" alt="Laboratorio de robotica">
                </div>
            </div>
        </div>
    </section>
</article>