<section>
  <div class="container py-5">
    <app-title-head></app-title-head>
    <p class="mb-5">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia sit est
      fugiat, repudiandae sapiente, debitis facere minima beatae quae
      consectetur sed? Reprehenderit, ducimus laboriosam itaque autem
      exercitationem delectus vel a.
    </p>
    <button class="btn btn-outline-primary" type="button">
      <span>Explorar Oferta</span>
      <i class="material-icons">chevron_right</i>
    </button>
  </div>
</section>
