<div class="container">
  <div class="row">
    <div class="col-12 wrapper">
      <div class="item-certificate longer">
        <img src="/assets/sep.svg" alt="anuies logo" />
      </div>
      <div class="item-certificate">
        <img src="/assets/anuies.svg" alt="anuies logo" />
      </div>
      <div class="item-certificate long">
        <img src="/assets/dduaa.svg" alt="dduaa logo" />
      </div>
      <div class="item-certificate">
        <img src="/assets/iso9001.svg" alt="anuies logo" />
      </div>
      <div class="item-certificate long">
        <img src="/assets/Cum.svg" alt="anuies logo" />
      </div>
    </div>
  </div>
</div>
