<app-sidenav-modal *ngIf="isSideNavActive"></app-sidenav-modal>
<nav class="navbar">

    <div class="navbar-brand">
        <img src="assets/brand.svg" alt="uua logo">
        <a>Universidad <br> Autónoma de <br> Aguascalientes</a>
    </div>

    <ul class="navbar-quick">
        <li class="less-quick">
            <a href="https://www.uaa.mx/portal/eventos/">EVENTOS Y CONVOCATORIAS</a>
        </li>
        <li class="less-quick">
            <a href="https://www.uaa.mx/direcciones/dgdv/rytv/">RADIO Y TV</a>
        </li>
        <li class="less-quick">
            <a href="https://museonacionaldelamuerte.uaa.mx/">MUSEO</a>
        </li>
        <li class="less-quick">
            <a href="http://biblioteca.uaa.mx/index.php/biblioteca-digital">BIBLIOTECA DIGITAL</a>
        </li>
        <li class="less-quick">
            <a href="https://www.uaa.mx/portal/calendarios/">CALENDARIOS</a>
        </li>
        <li>
            <a href="https://www.uaa.mx/portal/directorio/">DIRECTORIO</a>
        </li>
        <li>
            <a href="https://correoweb.uaa.mx/">CORREO INSTITUCIONAL</a>
        </li>
        <li>
            <a href="https://aulavirtual.uaa.mx/login/index.php">AULA VIRTUAL</a>
        </li>
        <li class="esiima">
            <a href="https://aulavirtual.uaa.mx/login/index.php">ESIIMA</a>
        </li>
    </ul>

    <div class="navbar-drops">

        <ul class="menu">

            <li class="menu-item">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span>Universidad</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <div class="drop-wrapper">
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span>Admisiones</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <div class="drop-wrapper">
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span>Oferta Educativa</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <div class="drop-wrapper">
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span>Investigación</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <div class="drop-wrapper">
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span>Egresados</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <div class="drop-wrapper">
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li>

            <li class="menu-item">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span>Internacional</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <div class="drop-wrapper">
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li> 
            <li class="menu-item">
                <a class="btn btn-default" data-toggle="dropdown">
                    <span>Comunicación</span>
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <div class="drop-wrapper">
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </li> 
            <li class="menu-item store">
                <a href="">
                    <span>Tienda</span>
                    <i class="material-icons">local_mall</i>
                </a>
            </li>
        </ul>

        <div class="menu-right">
            <li class="menu-item">
                <a href="">
                    <span>Español </span>
                    <img src="assets/mex.svg" alt="mexican flag">
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
            </li>
            <button class="navbar-search">
                <i class="material-icons">
                    search
                </i>
            </button>
            <button class="navbar-menu" (click)="activateSideNav()">
                <i class="material-icons" [ngClass]="{'rotate': isSideNavActive}">
                    menu
                </i>
            </button>
        </div>

    </div>

</nav>