<nav class="navbar sticky-top">

    <div class="navbar-brand">
        <img src="assets/brand.svg" alt="uua logo">
        <a>Universidad <br> Autónoma de <br> Aguascalientes</a>
    </div>

    <ul class="navbar-quick">
        <li> EVENTOS Y CONVOCATORIAS </li>
        <li> RADIO Y TV </li>
        <li> MUSEO </li>
        <li> BIBLIOTECA DIGITAL </li>
        <li> CALENDARIOS </li>
        <li> DIRECTORIO </li>
        <li> CORREO INSTITUCIONAL </li>
        <li> AULA VIRTUAL </li>
    </ul>

    <div class="navbar-drops">

        <ul class="menu">
            <li class="menu-item">
                <span>Universidad</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Admisiones</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Oferta Educativa</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Investigación</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Egresados</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Internacional</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item">
                <span>Comunicación</span>
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <li class="menu-item store">
                <span>Tienda</span>
                <i class="material-icons">local_mall</i>
            </li>
        </ul>

        <div class="menu-right">
            <li class="menu-item">
                <span>Español </span>
                <img src="assets/mex.svg" alt="mexican flag">
                <i class="material-icons">keyboard_arrow_down</i>
            </li>
            <button class="navbar-search">
                <i class="material-icons">
                    search
                </i>
            </button>
            <button class="navbar-menu">
                <i class="material-icons">
                    menu
                </i>
            </button>
        </div>

    </div>

</nav>