<section>
  <div class="container py-5">
    <app-title-head></app-title-head>
    <div class="row">
      <div class="col-lg-6 col-md-12 mt-3">
        <h2>Noticias</h2>
        <div class="py-2">
          <app-news-item></app-news-item>
        </div>
        <div class="py-2">
          <app-news-item></app-news-item>
        </div>
        <div class="py-2">
          <app-news-item></app-news-item>
        </div>
        <button class="btn btn-primary mt-3" type="button">Ver todos</button>
      </div>
      <div class="col-lg-6 col-md-12 mt-5">
        <h2>Eventos</h2>
        <div class="py-2">
          <app-calendar-item></app-calendar-item>
        </div>
        <div class="py-2">
          <app-calendar-item></app-calendar-item>
        </div>
        <div class="py-2">
          <app-calendar-item></app-calendar-item>
        </div>
        <button class="btn btn-primary mt-3" type="button">Ver todos</button>
      </div>
    </div>
  </div>
</section>
