<section>
  <div class="container py-5">
    <app-title-head></app-title-head>
    <div class="row pt-4">
      <div class="col-6">
        <h3>Noticias</h3>
        <app-news-item></app-news-item>
        <app-news-item></app-news-item>
        <app-news-item></app-news-item>
        <app-news-item></app-news-item>
        <button class="btn btn-primary" type="button">Ver todos</button>
      </div>
      <div class="col-6">
        <h3>Eventos</h3>
        <app-calendar-item></app-calendar-item>
        <app-calendar-item></app-calendar-item>
        <app-calendar-item></app-calendar-item>
        <app-calendar-item></app-calendar-item>
        <button class="btn btn-primary" type="button">Ver todos</button>
      </div>
    </div>
  </div>
</section>
