/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #B0B7BF ;
}

html {
    background: #B0B7BF;
}

@media screen and (min-width: 769px){
    ::-webkit-scrollbar {
        width: 10px;
    }
      
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ffffff;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover { 
        background: rgb(255, 255, 255); 
    }
}
