/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #ffffff #B0B7BF ;

}

@media screen and (min-width: 769px){
    ::-webkit-scrollbar {
        width: 10px;
    }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #ffffff; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        border:4px solid #fff;
        background: #afafaf; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover { 
        background: #888; 
    }
}
