.decal {
  display: block;
  background: #1086ff;
  border-radius: 3px;
  height: 6px;
  width: 80px;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}
