<header>
  <img src="" alt="" />
  <div class="container">
    <h1>
      <span> Gallos Aguascalientes </span>
      <br />
      Universidad <br />
      Autónoma de <br />
      Aguascalientes
    </h1>

    <div class="row">
      <div class="col-3">
        <button class="btn btn-outline-light mx-1" type="button">Text</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light mx-1" type="button">Text</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light mx-1" type="button">Text</button>
      </div>
      <div class="col-3">
        <button class="btn btn-light mx-1" type="button">Text</button>
      </div>
    </div>
  </div>
</header>
