<footer>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="/assets/sep.svg" alt="anuies logo" class="longer">
                   <img src="/assets/anuies.svg" alt="anuies logo" class="squared">
                   <img src="/assets/dduaa.svg" alt="dduaa logo" class="long">
                   <img src="/assets/iso9001.svg" alt="anuies logo" class="squared">
                   <img src="/assets/Cum.svg" alt="anuies logo" class="long">
                </div>
            </div>
        </div>
    </section>
</footer>