footer {
    position: relative;
    background: #171715;
    padding: 40px 0;
    &::before {
      content: "";
      top: -50px;
      position: absolute;
      display: block;
      background: url(/assets/tabNeg.svg) center / 200px no-repeat;
      height: 70px;
      width: 100%;
    }

    .squared {
        height: 70px;
        margin: 15px;
    }

    .long {
        height: 160px;
        margin: 15px;
    }

    .longer {
        height: 200px;
        margin: 15px;
    }
    
  }
  